.tour-item-img {
  height: 400px;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.react-carousel {
  width: 700px;
  border: 2px solid;
}

@media screen and (max-width: 1290px) {
  .react-carousel {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 540px) {
  .tour-item-img {
    height: 200px;
  }
  .react-carousel {
    width: 350px;
  }
}

@media screen and (max-width: 300px) {
  .tour-item-img {
    height: 150px;
  }
  .react-carousel {
    width: 700px;
    border: 2px solid;
  }
}
